/* Developer：July
Date:
Description：修改第三方游戏开关-详情 */

.box-body {
	padding: 2%;
	padding-top: 25px;
}
.lottery_right .prompt {
	font-size: 14px;
	height: 34px;
	line-height: 34px;
	border: 1px solid rgba(171, 220, 255, 1);
	background-color: rgba(240, 250, 255, 1);
	border-radius: 4px;
	color: #657180;
	margin-bottom: 25px;
	position: relative;
	padding-left: 25px;
}
.isdisplay {
	display: none !important
}
.lottery_right .prompt::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: url(/assets/img/content-home/xinjin.png) no-repeat;
	background-size: 100%;
}
.rig_titie,
.setting-select {
	font-weight: bold;
	font-size: 16px;
	background: rgba(246, 247, 249, 1);
	height: 60px;
	line-height: 60px;
	border: 1px solid #ccc;
	padding-left: 20px;
}
.setting-select {
	overflow: hidden;
	clear: both;
}
.setting-site {
	font-size: 16px;
	height: 60px;
	line-height: 60px;
	border: 1px solid #ccc;
	border-top: none;
}
.setting-site span {
	padding: 7px 25px;
	margin-left: 20px;
	background: rgba(246, 247, 249, 1);
	color: #666;
}
.setting-select {
	margin-top: 15px;
}
.btns {
	float: right;
	overflow: hidden;
	margin-top: 6px;
}
.gamelist {
	margin-top: 10px;
}
.gamelist ul {
	overflow: hidden;
	clear: both;
	border-bottom: 1px solid #ccc;
	width: calc(100% - 8px);
	margin-bottom: 25px;
}
.gamelist ul li {
	text-align: center;
	float: left;
	width: 13%;
	height: 40px;
	line-height: 40px;
}
.gamelist ul li span {
	font-weight: bold;
	font-size: 16px;
}
.gamelist ul li.act {
	border-bottom: 2px solid rgba(60, 141, 188, 1);
}
.cancelBtn {
	float: right;
	width: 120px;
	height: 35px;
	line-height: 35px;
	margin-right: 60px;
	border: 1px solid #c7c7c7;
	border-radius: 3px;
	background: white;
	color: #adadad;
}
.keepBtn {
	float: right;
	width: 120px;
	height: 35px;
	line-height: 35px;
	margin-right: 60px;
	background: rgba(64, 142, 186, 1);
	color: white;
	border: none;
	border-radius: 3px;
}
.keepBtn:hover {
	background: rgba(64, 142, 186, .8);
	color: white;
}
button {
	margin-left: 10px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: 0px;
	color: white;
	border-radius: 2px;
	background: rgba(64, 142, 186, 1);
}
.odds_list {
	overflow-y: scroll;
	height: 50vh;
	margin-top: 10px;
}
.odds_list ul {
	border-top: 1px solid #ccc;
}
.odds_list>ul li ul {
	overflow: hidden;
	clear: both;
	border: 1px solid #ccc;
	border-right: none;
	border-bottom: 0px;
}
.odds_list>ul li ul li {
	float: left;
	width: 20%;
	border-right: 1px solid #ccc;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.type {
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	padding: 0px 60px;
}
.odds_list input {
	margin: 0px;
}
input {
	border: 1px solid #ccc;
	height: 25px;
	text-align: center;
}
/* 按钮开关 s*/
.check-switch {
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	display: inline-block;
	cursor: pointer;
	width: 64px;
	height: 30px;
	position: relative;
	border: 1px solid #cbcbcb;
	background-color: #cbcbcb;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 20px;
	background-clip: content-box;
}
.check-switch:before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	top: 2px;
	left: 4px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.check-switch:checked {
	border-color: #00cc9d;
	box-shadow: #00cc9d 0 0 0 16px inset;
	background-color: #00cc9d;
}
.check-switch:checked:before {
	left: 36px;
}
.check-switch-anim {
	transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.check-switch-anim:before {
	transition: left 0.3s;
}
.check-switch-anim:checked {
	box-shadow: #00cc9d 0 0 0 16px inset;
	background-color: #00cc9d;
	transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
.check-switch-anim:checked:before {
	transition: left 0.3s;
}
.content-header {
	height: 50px;
	padding: 13px 2%;
	display: flex;
	justify-content: space-between;
	color: #666;
}
.content-header .breadcrumb {
	position: static;
	padding: 0;
	line-height: 24px;
}
.content-header h1 {
	display: inline-block;
	border-left: 6px solid rgb(26, 188, 156);
	padding-left: 6px;
	line-height: 24px;
}
.breadcrumb li,
.content-header h1 {
	display: inline-block;
}
.content {
	margin: 0;
	padding: 0 2%;
}