<!-- Developer：July
Date:
Description：修改彩票开关-详情 -->

<div class="content-wrapper" style="min-height:960px;background: rgba(246, 246, 249)">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>站点彩票开关</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-yen"></i> 网站管理</li>
            <li class="active">站点彩票开关</li>
        </ol>
    </section>
    <section class="content" style="margin-top: 10px;">
        <div class="box" style="margin:0 auto;">
            <div class="box-body">
                <div class="lottery_right">
                    <div class="prompt">
                        温馨提醒您：请及时保存您修改的数据。
                    </div>
                    <div *ngIf="this.types==1">
                        <div class="rig_titie">批量设置站点</div>
                        <div class="setting-site">
                            <span *ngFor="let item of siteName">{{item}}</span>
                        </div>
                    </div>
                    <div *ngIf="this.types==2">
                        <div class="rig_titie">设置站点</div>
                        <div class="setting-site">
                            <span>{{siteName}}</span>
                        </div>
                    </div>
                    <div class="setting-select">
                        <input type="checkbox" class="check-switch check-switch-anim" [(ngModel)]="allswith"
                            (click)="selall($event.target.checked,lotteryList)"  *ngIf="updatabtn" >
						<span *ngIf="updatabtn">开启所有彩票</span>
						<span *ngIf="!updatabtn">查看所有彩票</span>
                        <div class="btns" *ngIf="updatabtn"><button class="keepBtn" (click)="getOddAll()" >保存</button><button
                                class="cancelBtn" (click)="clear()">取消</button></div>
                    </div>
                    <div class="odds_list">
                        <ul class="lotterys_type">
                            <li *ngFor="let em of lotteryList;let i=index">
                                <div class="type">
                                    <input type="checkbox" class="check-switch check-switch-anim" name="innerall"
                                        [(ngModel)]="em.isoff"
                                        (click)="singelsel($event.target.checked,em,lotteryList)" [disabled]="dis">
                                    <span>{{em.model_key|lotteryDic}}</span>
                                </div>
                                <ul class="play_list">
                                    <li *ngFor="let item of em.game_list;let i=index">
                                        <span></span>
                                        <input type="checkbox" [(checked)]="item.acceptable "
                                            class="check-switch check-switch-anim"
                                            (click)="radioswitch(em,$event.target.checked,i,lotteryList)" [disabled]="dis">
                                        <span>{{item.game_key|lotteryDic}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-alert #child [stock]="stock"></app-alert>
</div>