/* Developer：July
Date:
Description：公共左侧导航 */

.treeview a {
	text-decoration: none;
}
.noneitem {
	display: none;
}
.actives {
	color: #fff !important;
}
.show {
	display: block;
}
.allname{
	font-size: 16px
}